{
  "extends": "hardcore-react",
  "rules": {
    "import/no-namespace": 0,
    "import/namespace": 0,
    "import/extensions": 0,
    "import/no-named-as-default-member": 0,
    "import/no-deprecated": 0,
    "import/no-named-as-default": 0,
    "no-negated-condition": 0,
    "no-console": ["error", { allow: ["warn", "error", "info"] }],
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "describe": true,
    "it": true,
    "path": true,
    "ga": true
  }
}
