output/**
*.class
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
.gwt/
.settings/
**/dependency-reduced-pom.xml
sandbox/web/src/main/java/org/kaaproject/kaa/sandbox/web/shared/Version.java
pom.xml.versionsBackup
